<cyber>
    <desc>cyber modules list config</desc>
    <version>1.0.0</version>

    <module>
    <name>motion_service</name>
    <dag_conf>/apollo/modules/perception/production/dag/dag_motion_service.dag</dag_conf>
    <!-- if not set, use default process -->
    <process_name>motion_service</process_name>
    <version>1.0.0</version>
    </module>

    <module>
        <name>perception_lane</name>
        <dag_conf>/apollo/modules/perception/production/dag/dag_streaming_perception_lane.dag</dag_conf>
        <process_name>perception_lane</process_name>
        <version>1.0.0</version>
    </module>

    
</cyber>